:root {
  line-height: 1.5;
  font-size: 16px;
}

#container {
  transform: translate(-50%, -50%);
  transform-origin: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 800px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

#container #buttons {
  display: flex;
  gap: 1rem;
}

#container #buttons button {
  min-width: 2rem;
  height: 2rem;
}

#canvas,
#preview {
  border: 1px solid #000;
}
